h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: slategray;
}

#sobre-mim {
    text-align: center;
}

#foto-inicial {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.buttons-final {
    background-color: slategray;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: black 2px solid;
    display: inline-block;
    margin-left: 100px;
    margin-right: auto;

}

.img-skill {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.subtitle {
    text-align: center;
}

.lista-skills {
    text-align: center;
    list-style-type: none;
    line-height: 25px;
}

