.img-initial {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-bottom: 30px;
}

#sobre-mim {
    text-align: center;
    margin-right: 40px;
}

#foto-inicial {
    display: block;
    margin-right: 40px;
    margin-left: 40px;
    box-shadow: 5px 5px 5px #000;
}

.box-initial {
   max-width: 45%;
   display: inline-block;
   vertical-align: middle;
   margin-left: 50px;
   margin-bottom: 10px;
}

.box-master {
    
}

.buttons-final {
    background-color: #4D4D4D;
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    border: 1px #000 solid;
    font-weight: bold;
    display: inline-block;
    margin-left: 100px;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
}

.img-skill {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    box-shadow: 2px 2px 2px #000;
    border-radius: 50%;
}

.subtitle {
    text-align: center;
    color: #4D4D4D;;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
}

.lista-skills {
    text-align: left;
    list-style-type: none;
}

.gif-final {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 100px;
    margin-top: 30px;
    margin-bottom: 10px;
}

